<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Bienvenido a la tienda</h1>
      <p>Producto originales</p>
    </div>
    <div class="login-form ion-padding">
      <form [formGroup]="formularioLogin">
        <div class="form-input">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item>
            <ion-label pasition="floating">Email</ion-label>
            <ion-input fromControlName="email"></ion-input>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label pasition="floating">Contraseña</ion-label>
            <ion-input fromControlName="password" type="password"></ion-input>
          </ion-item>
        </div>
      </form>
    </div>
    <div id="action-buttons ion-padding">
      <ion-button size="large" class="login-button">login</ion-button>
      <p>recuperar contraseña?</p>
      <ion-button
        class="sinup-button"
        size="large"
        fill="outline"
        routerLink="/registro"
        >Registrate</ion-button
      >
    </div>
  </div>
</ion-content>
